-- CreateEnum
CREATE TYPE "EstadoRol" AS ENUM ('pendiente', 'en_proceso', 'terminado', 'archivado');

-- CreateEnum
CREATE TYPE "EstadoDiligencia" AS ENUM ('pendiente', 'completada', 'fallida');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "officeName" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tribunal" (
    "id" TEXT NOT NULL,
    "officeId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "direccion" TEXT,
    "comuna" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Tribunal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DiligenciaTipo" (
    "id" TEXT NOT NULL,
    "officeId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DiligenciaTipo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Demanda" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Demanda_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Estampo" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Estampo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RolCausa" (
    "id" TEXT NOT NULL,
    "demandaId" TEXT,
    "officeId" TEXT NOT NULL,
    "rol" TEXT NOT NULL,
    "tribunalId" TEXT NOT NULL,
    "estado" "EstadoRol" NOT NULL DEFAULT 'pendiente',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RolCausa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Diligencia" (
    "id" TEXT NOT NULL,
    "rolId" TEXT NOT NULL,
    "tipoId" TEXT NOT NULL,
    "estado" "EstadoDiligencia" NOT NULL DEFAULT 'pendiente',
    "fecha" TIMESTAMP(3) NOT NULL,
    "meta" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Diligencia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Documento" (
    "id" TEXT NOT NULL,
    "rolId" TEXT NOT NULL,
    "diligenciaId" TEXT,
    "estampoId" TEXT,
    "nombre" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "pdfId" TEXT,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Documento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Nota" (
    "id" TEXT NOT NULL,
    "rolId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "contenido" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Nota_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Recibo" (
    "id" TEXT NOT NULL,
    "rolId" TEXT NOT NULL,
    "monto" DOUBLE PRECISION NOT NULL,
    "medio" TEXT NOT NULL,
    "ref" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Recibo_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "Tribunal_officeId_createdAt_idx" ON "Tribunal"("officeId", "createdAt");

-- CreateIndex
CREATE INDEX "DiligenciaTipo_officeId_createdAt_idx" ON "DiligenciaTipo"("officeId", "createdAt");

-- CreateIndex
CREATE INDEX "RolCausa_officeId_createdAt_idx" ON "RolCausa"("officeId", "createdAt");

-- CreateIndex
CREATE INDEX "RolCausa_rol_idx" ON "RolCausa"("rol");

-- CreateIndex
CREATE INDEX "Diligencia_rolId_createdAt_idx" ON "Diligencia"("rolId", "createdAt");

-- CreateIndex
CREATE INDEX "Documento_rolId_createdAt_idx" ON "Documento"("rolId", "createdAt");

-- CreateIndex
CREATE INDEX "Nota_rolId_createdAt_idx" ON "Nota"("rolId", "createdAt");

-- CreateIndex
CREATE INDEX "Recibo_rolId_createdAt_idx" ON "Recibo"("rolId", "createdAt");

-- AddForeignKey
ALTER TABLE "RolCausa" ADD CONSTRAINT "RolCausa_demandaId_fkey" FOREIGN KEY ("demandaId") REFERENCES "Demanda"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolCausa" ADD CONSTRAINT "RolCausa_tribunalId_fkey" FOREIGN KEY ("tribunalId") REFERENCES "Tribunal"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Diligencia" ADD CONSTRAINT "Diligencia_rolId_fkey" FOREIGN KEY ("rolId") REFERENCES "RolCausa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Diligencia" ADD CONSTRAINT "Diligencia_tipoId_fkey" FOREIGN KEY ("tipoId") REFERENCES "DiligenciaTipo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Documento" ADD CONSTRAINT "Documento_rolId_fkey" FOREIGN KEY ("rolId") REFERENCES "RolCausa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Documento" ADD CONSTRAINT "Documento_diligenciaId_fkey" FOREIGN KEY ("diligenciaId") REFERENCES "Diligencia"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Documento" ADD CONSTRAINT "Documento_estampoId_fkey" FOREIGN KEY ("estampoId") REFERENCES "Estampo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Nota" ADD CONSTRAINT "Nota_rolId_fkey" FOREIGN KEY ("rolId") REFERENCES "RolCausa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Recibo" ADD CONSTRAINT "Recibo_rolId_fkey" FOREIGN KEY ("rolId") REFERENCES "RolCausa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

